@import "variables";

.carousel-container {
  position: relative;
  display: flex;
  justify-content: center;

  & .carousel {
    overflow: hidden;
  }

  & .carousel-slide {
    display: flex;
    justify-content: space-between;
  }

  & .carousel-item {
    position: relative;
    color: white;
    font-size: 2rem;
    width: 480px;
    cursor: pointer;
  }

  & [class*="btn-"] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    background: transparent;

    &.btn-left {
      left: 0;
    }

    &.btn-right {
      right: 0;
    }
  }
}
