@import "variables";

.menu {
  width: 275px;
  max-width: 100%;
  box-shadow: 0 0 4px #aaaaaa;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;
  z-index: 10;

  & .menu-item {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;

    & > * {
      max-height: 100%;
      width: auto;
    }
  }
}
